@import 'common/fonts.scss';
@import 'common/buttons.css';
@import 'common/accordion.scss';
@import 'common/header.css';
@import 'common/popup.css';
@import 'common/form.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full bg-green-950 text-white lg:text-20 text-18;

    #app {
      @apply flex flex-col justify-between items-stretch min-h-full
    }

    #main {
      @apply flex-1;
    }

    p, ol, ul {
      @apply leading-[1.4] opacity-70;
    }

    p {
      a {
        @apply transition hover:text-yellow-550;
      }
    }
  }

  ol {
    @apply list-decimal pl-20;
  }

  ul {
    @apply list-disc  pl-20;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
